.navbar {
    position: fixed;
    display: flex;
    align-items: center;
    padding: 0.5rem 15rem;
}

.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
}

.navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start;

}

.navbar-collapse {
    flex-grow: 1;
    align-items: right;
}

form {
    margin-top: 0em;
}

.form-inline .form-control{
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.divPromoção {
    margin: auto;
    /* Estilos da sua div */
}
body {
    line-height: auto;
}